.popup__btn-save {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  height: 50px;
  margin: 0 auto 25px;
  border-radius: 2px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 0;
}

@media (max-width: 600px) {
  .popup__btn-save {
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    height: 46px;
    margin: 0 22px 25px;
  }
}

.popup__btn-save:hover {
  opacity: 0.8;
  cursor: pointer;
}
