.popup__btn-save {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  margin: 18px auto;
  border-radius: 2px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 12px 0;
}

@media (max-width: 600px) {
  .popup__btn-save {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    margin: 15px auto;
    padding: 12px 0;
  }
}


.popup__btn-save:hover {
  opacity: 0.8;
  cursor: pointer;
}
